@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*------------*/
/* Variables */
/*----------*/

:root{
    --blue: #6E9CC7;
    --gray: #0000007e;
    --darkblue: #8dc8ff;
    --dark-bg: #0a0a0a;
    --dark-text: #e0e0e0;
    --dark-border: #dadada;
}

.text-gray{
    color:var(--gray);
}

.text-blue{
    color:var(--blue);
}

/*--------*/
/* Header */
/*--------*/

*{
    font-family : "Roboto", sans-serif;
}

header h1{   
    display: inline;
    margin-top: 10px;
}

#encripter_header{
    width: calc(1.375rem + 1.5vw);
    vertical-align: text-bottom;
}

.switcher-h{
    width: 2.5em !important;
    height: 1.5em;
    border: 2px solid rgba(0, 0, 0, 0.589);
}

.switcher-h:checked{
    background-color: black;
    border-color: rgb(255, 255, 255);
}

/*-------------------*/
/* Encrypt Buttons  */
/*-----------------*/

.encrypt, .decrypt{
    border: 1px solid rgba(0, 0, 0, 0.226) !important;
}

.icn-max{
    width: 1.25rem!important;
}

.icn-max[alt="decrypt"]{
    width: 1.75rem !important;
}

.rounded-box{
    border-radius: 1rem;
}
/*-------------------*/
/* Text area custom */
/*-----------------*/

.sm-enc{
    display: none;
}

.form-control{
    resize: none;
    height: 20em;
}

.textarea{
    border: none;
}

.output{
    display: none;
}

.img-output{
    width: 120%;
}


/*------------------------*/
/* Copy button and Toast */
/*----------------------*/

.copy-btn{
    display: none;
}

/*-----------------------*/
/* Dark mode Styles CSS */
/*----------------------*/


body.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

body.dark-mode .text-gray {
    color: var(--dark-text);
}

body.dark-mode .text-blue {
    color: var(--darkblue);
}

body.dark-mode .form-check-label {
    color: var(--dark-text);
}

body.dark-mode .btn-light {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    border: 1px solid rgba(255, 255, 255, 0.226) !important;
}

body.dark-mode .entrys{
    background-color: #2B2B2B;
}
body.dark-mode .form-control {
    background-color: #2B2B2B;
    color: var(--dark-text);
}

body.dark-mode .textarea {
    color: var(--dark-text);
}

body.dark-mode .rounded-box {
    border-color: var(--dark-border);
}

body.dark-mode .copy-btn .button {
    color: var(--dark-text);
}

body.dark-mode .toast-container{
    color: var(--dark-text) !important;
}

body.dark-mode .toast-header{
    background-color: var(--dark-bg);
    color: var(--dark-text) !important;
}

body.dark-mode .toast-body{
    background-color: var(--gray);
}

/* Media Query 770px below */

@media (max-width: 769px){

    header{
        padding-left: 5%;
        padding-right: 5%;
        display: inline;
    }

    header .container-xxl{
        margin-bottom: 1rem !important;
    }

    #encripter_header{
        width: 2em !important;
    }

    header .col-6{
        width: 70%;
    }
    .col-6 h1{
        font-size: 1.5em;
    }

    header .form-check-label{
        font-size: 1em !important;
    }

    header .form-check{
        padding-left: .0 !important;
    }

    header .form-switch .form-check-input{
        margin-left: -1.5em;
    }

    .switcher-h{
        width: 2em !important;
        height: 1.2em;
        border: 1px solid rgba(0, 0, 0, 0.589);
    }

    body .container-xxl{
        padding-right: 1.4rem !important;
        padding-left: 1.4rem !important;
    }

    .img-output{
        width: 50%;
    }

    .col-md-4 .output-group{
        display: flex;
        justify-content: center;
    }

    .encrypt, .decrypt{
        font-size: 1rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
    }  

    .bg-enc{
        display: none;
    }

    .sm-enc{
        display: block;
    }
}

/* Media Query 507px below */

@media (max-width: 507px){
    header .container-xxl{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        margin-bottom: 0.2rem !important;
    }

    header .form-switch{
        padding-left: 0;
    }

    header .form-check{
        padding-left: 0;
    }

    header .form-check-label{
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 0.8em !important;
    }

    #encripter_header{
        width: 1.4em !important;
    }

    header h1{
        font-size: calc(1rem + 1.2vw) !important;
    }
}

@media (max-width: 387px){
    header .form-check-label{
        display: none;
    }

    body .container-xxl{
        padding-right: 1.2rem !important;
        padding-left: 1.2rem !important;
    }

    textarea.form-control{
        font-size: calc(0.7rem + 1vw) !important;
    }

    .encrypt, .decrypt {
        font-size: calc(0.7rem + 0.5vw) !important;
        padding-left: 0.7rem !important;
        padding-right: 0.7rem !important;
        padding-top: 0.6rem !important;
        padding-bottom: 0.6rem !important;
    }

    .icn-max{
        width: 1rem !important;
    }

    .icn-max[alt="decrypt"] {
        width: 1.5rem !important;
    }

    body .container-lg h3{
        font-size: calc(1rem + .6vw);
    }

    body .form-control .textarea{
        font-size: 0.9rem !important;
    }

    body .text-ready{
        font-size: 0.9rem !important;
    }

    body .footer-note{
        font-size: calc(0.7rem + 1vw) !important;
    }

    footer p{
        font-size: calc(0.7rem + 1vw) !important;
    }
}